@use './variables.scss' as *;


.banner {
    margin-top: 6rem;
    margin-bottom: 6rem;
}

.banner_doc {
    background-color: $bd_tertiary;

    a {
        background-color: $bd_fourth;

        &:hover {
            background-color: $bd_evi1;
            color: white;
        }
    }
}