@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

.appFooter {
  background-color: #6fc4ee;
  margin-top: 18%;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.test {
  background: #ffffff;
}
.menu__link {
  font-size: 1.2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
  text-decoration: none;
  opacity: 0.25;
  font-weight: 300;
}
.menu__link:hover {
  opacity: 1;
}
.menu__link img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  transition: 0.5s;
  filter: brightness(1); /* Luminosità normale */
  margin-right: 10px; /* Aggiungi una piccola separazione tra l'immagine e il testo */
}
.milestone > h5 {
  font-size: xx-small;
}
.footer {
  background: #3586ff;
  min-height: 100px;
  padding: 20px 50px;
  p {
    color: #fff;
    margin: 15px 0 10px 0;
    font-size: 1rem;
    font-weight: 300;
  }
}
.wave {
  top: -100px;
  left: 0;
  height: 100px;
  background: url("https://i.ibb.co/wQZVxxk/wave.png");
  background-size: 1000px 100px;
}
.wave#wave1 {
  opacity: 1;
  bottom: 0;
  animation: animateWaves 70s linear infinite;
}
.wave#wave2 {
  opacity: 0.5;
  bottom: 10px;
  animation: animate 70s linear infinite !important;
}
.wave#wave3 {
  opacity: 0.2;
  bottom: 15px;
  animation: animateWaves 50s linear infinite;
}

.wave#wave4 {
  opacity: 0.7;
  bottom: 20px;
  animation: animate 50s linear infinite;
}

@keyframes animateWaves {
  0% {
    background-position-x: 1000px;
  }
  100% {
    background-positon-x: 0px;
  }
}

@keyframes animate {
  0% {
    background-position-x: -1000px;
  }
  100% {
    background-positon-x: 0px;
  }
}
