@use './variables.scss' as *;

.banner_doc {
    background-color: $bd_tertiary;

    a {
        background-color: $bd_fourth;

        &:hover {
            background-color: $bd_dark;
            color: white;
        }
    }
}