@use "./variables.scss" as *;

.jumbotron {
  background-color: #6fc4ee;
}

.jumbotron {
  height: 500px;
}

@media screen and (min-width: 768px) {
  .jumbotron {
    background-image: url(/public/img/Doctor_01-removebg-preview.png);
    background-repeat: no-repeat;
    background-position: right 50px bottom;
    background-size: 350px;
  }
}
.jumbotron {
  position: relative;
  z-index: 2;
}

// @media screen and (max-width: 768px) {
//    {
//     background-color: blue;
//   }
// }
// @media screen and (max-width: 425px) {
//   body {
//     background-color: olive;
//   }
// }
// @media screen and (max-width: 375px) {
//   body {
//     background-color: olive;
//   }
// }
